<head>
  <h1>Hi <%=@current_user.first_name.capitalize!%>, Welcome To Quorora</h1>
</head>

<div>
  <a href="/<%= @current_user.id %>/questions"><button type="button" name="button">Your Questions</button></a>
  <a href="/<%= @current_user.id %>/questions_answered"><button type="button" name="button">Your Answered Questions</button></a>
</div>

<div>
  <h2>Top Stories:</h2>
  <div>
    <% @all_questions.each do |question| %>
      <% @question = question %>
      <%= erb :questions_answers_loop_partial %>
    <% end %>
  </div>
</div>

<footer>
</footer>
