<header>

</header>

<div>
  <h2>Your Profile</h2>
</div>
<div>
  <div>
    <h3>First Name</h3>
  </div>
  <div>
    <%=@current_user.first_name%>
  </div>
</div>
<div>
  <div>
    <h3>Last Name</h3>
  </div>
  <div>
    <%=@current_user.last_name%>
  </div>
</div>

<footer>

</footer>
