<header>
  <h1>New Question</h1>
</header>

<div >
  <form action="/question/create" method="post">
    <input type="text" name="question[data]" placeholder="Insert Your Question Here" required>
    <button type="submit" name="button">Create Question</button>
  </form>
</div>
