<header>
  <h2><%= @current_question.data %></h2>

    Author: <%= @current_question.user.first_name %>

</header>

<div>
  <% @current_question.answers.each do |answer| %>
    <ul>
      <li>
        <%= answer.data %>
        <ol>
          Author: <%= answer.user.first_name %>
        </ol>
      </li>
    </ul>
  <%end%>
</div>
<footer>
</footer>
