<header>
  <h2>Your Answered Questions: </h2>
</header>

<div>
  <% @questions.each do |question| %>
    <% @question = question %>
    <%= erb :questions_answers_loop_partial %>
  <% end %>

</div>

<footer></footer>
