<header>
  <h2>Your Questions:</h2>
</header>
<br>
<div>
  <% @current_user.questions.each do |question| %>
    <% @question = question %>
    <%= erb :questions_loop %>
  <% end %>
</div>

<footer></footer>
