<header>
    <div id="title_div">
        <p id="title">
          WELCOME TO QUORORA
        </p>
    </div>
</header>

<div id="login_signup_container">
  <a href="/"><img src="/img/index page/quorora.png" alt="main page icon" /></a>
  <p>
    <% if @error %>
    <%= @error %>
    <% end %>
  </p>
  <form id="login_form" action="/login" method="post">
    <p>
      <input type="email" name="user[email]" placeholder="Email Address" required>
    </p>
    <p>
      <input type="password" name="user[password]" placeholder="Password" required>
    </p>
    <p>
      <input type="submit" value="LOG IN">
    </p>

  </form>
  <p>
    <a href="/user/new">Don't have an account? No worry, Sign Up HERE!</a>
  </p>
</div>
